[submodule "Core"]
	path = Core
	url = git@github.com:efpiva/core.git
[submodule "AddOnInstallAPI"]
	path = AddOnInstallAPI
	url = git@github.com:efpiva/AddOnInstallAPI.git
[submodule "Examples"]
	path = Examples
	url = https://github.com/efpiva/DoverTutorial
